In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
dict = {i: i * i for i in range(-6, 6)}
s = pd.Series(dict)
s

-6    36
-5    25
-4    16
-3     9
-2     4
-1     1
 0     0
 1     1
 2     4
 3     9
 4    16
 5    25
dtype: int64

In [9]:
print(type(s))
#dir(s)

<class 'pandas.core.series.Series'>

In [12]:
print(s.values)
print(s.index)

[36 25 16  9  4  1  0  1  4  9 16 25]
Index([-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5], dtype='int64')

In [17]:
s = pd.Series([i for i in range(10)])
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [18]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [21]:
s = pd.Series([1,3,5,7], index = ['a', 'b', 'c', 'd'])
s

a    1
b    3
c    5
d    7
dtype: int64

In [23]:
s['b']

3

In [24]:
s['b': 'd']

b    3
c    5
d    7
dtype: int64

In [26]:
s<5

-6    False
-5    False
-4    False
-3    False
-2     True
-1     True
 0     True
 1     True
 2     True
 3    False
 4    False
 5    False
dtype: bool

In [27]:
s[s<5]

-2    4
-1    1
 0    0
 1    1
 2    4
dtype: int64

In [28]:
s[s%2 == 0] #masking

-6    36
-4    16
-2     4
 0     0
 2     4
 4    16
dtype: int64

In [39]:
dict2 = {i: i ** 3 for i in range(-6, 6)}

In [40]:
df = pd.DataFrame({'squares' : dict, 'cube' : dict2})

In [38]:
print(df)

    squares  cube
-6     36.0  -216
-5     25.0  -125
-4     16.0   -64
-3      9.0   -27
-2      4.0    -8
-1      1.0    -1
 0      0.0     0
 1      1.0     1
 2      4.0     8
 3      9.0    27
 4     16.0    64
 5     25.0   125
 6      NaN   216
 7      NaN   343
 8      NaN   512
 9      NaN   729

In [42]:
print(df.squares)

-6    36
-5    25
-4    16
-3     9
-2     4
-1     1
 0     0
 1     1
 2     4
 3     9
 4    16
 5    25
Name: squares, dtype: int64

In [45]:
df.columns

Index(['squares', 'cube'], dtype='object')

In [50]:
print(type(df.values))
df.shape
df.ndim

<class 'numpy.ndarray'>

2

In [51]:
df.describe()

         squares        cube
count  12.000000   12.000000
mean   12.166667  -18.000000
std    11.590226   87.281155
min     0.000000 -216.000000
25%     3.250000  -36.250000
50%     9.000000   -0.500000
75%    18.250000   12.750000
max    36.000000  125.000000