In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
dict = {i: i * i for i in range(-6, 6)}
s = pd.Series(dict)
s

-6    36
-5    25
-4    16
-3     9
-2     4
-1     1
 0     0
 1     1
 2     4
 3     9
 4    16
 5    25
dtype: int64

In [23]:
print(type(s))
#dir(s)

<class 'pandas.core.series.Series'>

In [24]:
print(s.values)
print(s.index)

[36 25 16  9  4  1  0  1  4  9 16 25]
Index([-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5], dtype='int64')

In [25]:
s = pd.Series([i for i in range(10)])
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [26]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [27]:
s = pd.Series([1,3,5,7], index = ['a', 'b', 'c', 'd'])
s

a    1
b    3
c    5
d    7
dtype: int64

In [28]:
s['b']

3

In [29]:
s['b': 'd']

b    3
c    5
d    7
dtype: int64

In [30]:
s<5

a     True
b     True
c    False
d    False
dtype: bool

In [31]:
s[s<5]

a    1
b    3
dtype: int64

In [32]:
s[s%2 == 0] #masking

Series([], dtype: int64)

In [33]:
dict2 = {i: i ** 3 for i in range(-6, 6)}

In [34]:
df = pd.DataFrame({'squares' : dict, 'cube' : dict2})

In [35]:
print(df)

    squares  cube
-6       36  -216
-5       25  -125
-4       16   -64
-3        9   -27
-2        4    -8
-1        1    -1
 0        0     0
 1        1     1
 2        4     8
 3        9    27
 4       16    64
 5       25   125

In [36]:
print(df.squares)

-6    36
-5    25
-4    16
-3     9
-2     4
-1     1
 0     0
 1     1
 2     4
 3     9
 4    16
 5    25
Name: squares, dtype: int64

In [37]:
df.columns

Index(['squares', 'cube'], dtype='object')

In [38]:
print(type(df.values))
df.shape
df.ndim

<class 'numpy.ndarray'>

2

In [39]:
df.describe()

         squares        cube
count  12.000000   12.000000
mean   12.166667  -18.000000
std    11.590226   87.281155
min     0.000000 -216.000000
25%     3.250000  -36.250000
50%     9.000000   -0.500000
75%    18.250000   12.750000
max    36.000000  125.000000

In [40]:
s = pd.Series([i + 1 for i in range(10)], index = ((2*i) + 1 for i in range(10)))
print(s)
print(s[3])
#print(s[2])
print(s[3:6])
print(s.loc[3])
print(s.iloc[3])

1      1
3      2
5      3
7      4
9      5
11     6
13     7
15     8
17     9
19    10
dtype: int64
2
7     4
9     5
11    6
dtype: int64
2
4

In [51]:
df = pd.DataFrame({'squares' : dict, 'cube' : dict2})
df['sum'] = df.squares + df.cube
df['product'] = df.squares * df.cube
print(df)
print(df.loc[-3, 'sum'])
print(df.iloc[3, 2])

    squares  cube  sum  product
-6       36  -216 -180    -7776
-5       25  -125 -100    -3125
-4       16   -64  -48    -1024
-3        9   -27  -18     -243
-2        4    -8   -4      -32
-1        1    -1    0       -1
 0        0     0    0        0
 1        1     1    2        1
 2        4     8   12       32
 3        9    27   36      243
 4       16    64   80     1024
 5       25   125  150     3125
-18
-18

In [55]:
print(df.T)
df.head
df.tail

           -6    -5    -4   -3  -2  -1   0   1   2    3     4     5
squares    36    25    16    9   4   1   0   1   4    9    16    25
cube     -216  -125   -64  -27  -8  -1   0   1   8   27    64   125
sum      -180  -100   -48  -18  -4   0   0   2  12   36    80   150
product -7776 -3125 -1024 -243 -32  -1   0   1  32  243  1024  3125

<bound method NDFrame.tail of     squares  cube  sum  product
-6       36  -216 -180    -7776
-5       25  -125 -100    -3125
-4       16   -64  -48    -1024
-3        9   -27  -18     -243
-2        4    -8   -4      -32
-1        1    -1    0       -1
 0        0     0    0        0
 1        1     1    2        1
 2        4     8   12       32
 3        9    27   36      243
 4       16    64   80     1024
 5       25   125  150     3125>